* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: burlywood;
}

.titulo {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.titulo h1 {
    font-weight: 400px, bold;
    font-family: 'Times New Roman', Times, serif;

}

.contenedor {

    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}

.contenedor .div-listado {
    width: 90%;
    height: 250px;
    margin: 10px 10px;
    margin-right: 4px;
    margin-left: 30px;
    background-color: rgb(135, 132, 132);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 10px 10px rgb(0, 0, 0, 0.3);

}

.contenedor .div-formulario {
    width: 90%;
    height: 250px;
    margin-right: 4px;
    margin: 10px 10px;
    margin-left: 60px;
    background-color: rgb(135, 132, 132);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 10px 10px rgb(0, 0, 0, 0.3);
}

.contenedor .div-formulario h2 {
    margin-top: 10px;
    font-weight: 300;
    font-size: 2em;
    color: black;

}

.contenedor .div-formulario form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}

.contenedor .div-formulario form input {

    width: 80%;
    padding: 10px 10px;
    margin: 10px 10px;

}

.contenedor .div-formulario form button {

    width: 60%;
    padding: 10px 10px;
    margin: 10px 10px;
    text-align: center;

}


.contenedor .div-listado .div-tareas {
    width: 100%;
    height: 100%;
    margin-top: 10%;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    padding: 0 30px;
}

.contenedor .div-listado .div-tareas p {
    margin: 10px 0;
    font-size: 1em;
    color: #ddd;
}

hr {
    width: 100%;
    height: 1px;
}

.btn {
    padding: 5px 10px;
    border: none;
    margin: 0 5px;
    color: white;
    border-radius: 50px;
}

.btn-editar {
    background-color: green;
}

.btn-eliminar {
    background: red;
}

@media (max-width:600px) {
    .contenedor {
        grid-template-columns: 1fr;
    }
}